/* ====================== COMMUN ====================== */
/* ==================================================== */

:root {
  font-family: "Inter", sans-serif;
  max-width: 1190px;
  min-height: 1684px;
  margin: 0 auto;
  background-color: white;

  --color-primary: #6348a3;
  --color-white: white;
  --color-gray: #f6f6f6;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  min-height: 100dvh;
}

h1,
h2,
h3 {
  color: var(--color-primary);
  line-height: normal;
}

p,
a,
li {
  font-size: 24px;
  font-weight: 300;
  color: black;
  line-height: normal;
}

h1 {
  font-size: 64px;
  text-align: end;
  font-weight: 600;
}

h2 {
  font-size: 40px;
  font-weight: 300;
  margin-left: 32px;
}

h3 {
  font-size: 32px;
  font-weight: 400;
}

h4 {
  font-size: 28px;
  font-weight: 600;
  color: black;
  line-height: normal;
}

article {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 99%;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.list li {
  position: relative;
  padding-left: 28px;
}

.list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 30px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%236348A3' d='M10 16.4L6 12.4L7.4 11L10 13.6L16.6 7L18 8.4L10 16.4Z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: contain;
}

.title-dot {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
}

.dot {
  background-color: var(--color-primary);
  border-radius: 100%;
  width: 20px;
  height: 20px;
}

.bold {
  font-weight: 600;
}

.reverse {
  color: white;
  background-color: var(--color-primary);
  text-align: end;
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
  padding: 8px 26px;
  width: fit-content;
}

.icons {
  background-color: var(--color-primary);
  color: white;
  border-radius: 50%;
  padding: 6px;
}

.background {
  background-color: var(--color-gray);
}

/* ====================== FLEXBOX ====================== */
/* ==================================================== */

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.start {
  align-items: flex-start;
}

.center {
  align-items: center;
}

.end {
  align-items: end;
}

.align {
  display: flex;
  align-items: center;
  gap: 8px;
}

.gap-8 {
  gap: 8px;
}

.gap-12 {
  gap: 12px;
}

.gap-16 {
  gap: 16px;
}

/* ====================== HEADER ====================== */
/* ==================================================== */

header {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 24px 32px;
  position: relative;
  border-bottom: solid 1px var(--color-primary);
}

header .background {
  border-radius: 0 100px 100px 0;
  width: 438px;
  height: 226px;
  position: absolute;
  top: 30px;
  left: 0px;
  z-index: -99;
}

.card {
  padding: 16px;
  border-radius: 20px;
  box-shadow: #8d9ae74d 0px 2px 8px 0px;
}

.card div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

/* ====================== MAIN ====================== */
/* ================================================== */

main {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin: 0px 24px 24px 24px;
}

main section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: fit-content;
}

aside {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 16px;
  min-width: 420px;
  min-height: fit-content;
  padding: 16px 16px 0 24px;
}

aside article {
  width: 100%;
}

aside article div {
  width: inherit;
}

.left-block {
  padding-right: 4px;
  border-right: solid 1px var(--color-primary);
}

/* ------------------  MEDIA QUERIES ------------------ */
/* ---------------------------------------------------- */

@media (width >= 1024px) {
  header .card {
    display: none;
  }
}

@media (width <= 1024px) {
  h1,
  h2 {
    text-align: center;
  }
  h2 {
    margin-left: 0;
  }
  header {
    align-items: center;
  }
  header hgroup p {
    text-align: center;
  }
  main {
    flex-wrap: wrap;
    gap: 24px;
  }
  aside {
    align-items: center;
    min-width: 95%;
    padding: 24px;
  }
  aside article {
    align-items: start !important;
  }

  .left-block {
    border-right: none;
  }
  .title-dot {
    justify-content: center;
  }
  .dot,
  .hidden {
    display: none;
  }
  .reverse {
    border-radius: 60px;
  }
}
