@import url("https://fonts.googleapis.com/css2?family=Hubot+Sans:ital,wght@0,200..900;1,200..900&display=swap");

/* ====================== COMMUN ====================== */
/* ==================================================== */

html {
  --color-primary: #8d9ae7;
  --color-secondary: white;
  --color-thirly: #f2f2f2a9;
}

body {
  font-family: "Hubot Sans", sans-serif;
  max-width: 1100px;
  padding: 0 2rem;
  margin: 2rem auto;
}

h1,
h2 {
  color: var(--color-primary);
}

h1 {
  font-size: 2.4rem;
  font-weight: 600;
  text-align: end;
  padding: 1rem;
}

h2 {
  font-size: 1.8rem;
  padding: 1rem 1.5rem;
}

h3 {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

h4 {
  font-size: 1.3rem;
}

h5 {
  font-size: 1.2rem;
  color: var(--color-secondary);
  background-color: var(--color-primary);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;

  display: inline-block;

  padding: 0.3rem 1.5rem 0.3rem 4rem;
  margin: 1rem 0;
}

time {
  margin-right: 1rem;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.list li::before {
  content: url("https://img.icons8.com/nolan/25/checkmark.png");
}

/* ====================== HEADER ====================== */
/* ==================================================== */

#heading {
  border-bottom: solid 0.2rem var(--color-primary);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0 1rem;
  margin-bottom: 1rem;
  position: relative;
}

.header-background {
  background-color: var(--color-thirly);
  border-radius: 0 100px 100px 0;
  width: 400px;
  height: 200px;
  position: absolute;
  top: 50px;
  left: -2px;
  z-index: -1;
}

.header-text {
  line-height: 1.8rem;
  padding: 0 1rem 1.5rem 1rem;
}

/* ====================== MAIN ====================== */
/* ================================================== */

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 1rem;
}

.main-title {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1rem;
  position: relative;
}

.dot {
  background-color: var(--color-primary);
  border-radius: 50px;
  width: 15px;
  height: 15px;
}

/* -------------------- LEFT MAIN -------------------- */
/* --------------------------------------------------- */

#left-main {
  line-height: 1.5rem;
  max-width: 60%;
  margin: 1rem;
}

.experience-container,
.formation-container {
  border-right: solid 0.1rem var(--color-primary);
  padding-right: 1.5rem;
  box-sizing: border-box;
}

.experience-item,
.formation-item {
  line-height: 2rem;
  margin-bottom: 1.5rem;
}

/* -------------------- RIGHT MAIN -------------------- */
/* ---------------------------------------------------- */

#right-main {
  text-align: end;
  line-height: 1.5rem;
  background-color: var(--color-thirly);
  background-position: 25% 70%;

  max-width: 340px;
  padding: 1rem;
  margin: 1rem 0rem;
}

.right-element {
  margin-bottom: 2rem;
}

.contact-me {
  display: flex;
  flex-direction: column;
}

.social {
  margin-top: 1rem;
}

.hard-skills-list {
  text-align: center;
  line-height: 2rem;
}

.soft-list {
  text-align: center;
}

/* ------------------  MEDIA QUERIES ------------------ */
/* ---------------------------------------------------- */

@media (width > 1100px) {
  .header-hidden {
    display: none;
  }
}

@media (width < 1100px) {
  #heading {
    align-items: center;
  }

  h1 {
    text-align: center;
  }

  main {
    justify-content: center;
  }

  h5 {
    border-radius: 20px;
    padding: 0.3rem 4rem;
  }

  .main-title {
    justify-content: center;
  }

  .dot {
    display: none;
  }

  #left-main {
    padding-right: 0;
    max-width: 100%;
  }

  .experience-container,
  .formation-container {
    border: none;
  }

  #right-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3rem;

    text-align: center;
    border-radius: 20px;
    max-width: 100%;
  }
  .right-element {
    max-width: 50%;
  }

  #header-contact {
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
  }

  .header-contact-me {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }

  .hidden {
    display: none;
  }
}

@media (width < 780px) {
  body {
    padding: 0 0.4rem;
  }

  .experience-container,
  .formation-container {
    padding-right: 0;
  }

  #right-main {
    justify-content: center;
    gap: 1rem;
  }
  .right-element {
    max-width: 90%;
  }
}
